{% extends 'base.html' %}
{% block title %}
INSERTAR
{% endblock title %}
{% block body %}
<h2 style="text-align:center" class='my-3'> 
    Ingresar los Datos del Laboratorio</h2> 
    <form method="POST"> 
        {% csrf_token %} 
        <div class="input-group mb-3 mx-auto" style='width:33%'>
            <span class="input-group-text" id="inputGroup-sizing-default" style='width:40%'>Nombre del laboratorio</span>
            <input type="text" class="form-control" aria-label="Sizing example input" style='width:60%' aria-describedby="inputGroup-sizing-default" name="lab_nombre">
          </div>
          <div class="input-group mb-3 mx-auto" style='width:33%'>
            <span class="input-group-text" id="inputGroup-sizing-default" style='width:40%'>Ciudad del laboratorio</span>
            <input type="text" class="form-control" aria-label="Sizing example input" style='width:60%' aria-describedby="inputGroup-sizing-default" name="lab_ciudad">
          </div>
          <div class="input-group mb-3 mx-auto" style='width:33%'>
            <span class="input-group-text" id="inputGroup-sizing-default" style='width:40%'>Pais del laboratorio</span>
            <input type="text" class="form-control" aria-label="Sizing example input" style='width:60%' aria-describedby="inputGroup-sizing-default" name="lab_pais">
          </div>
          <div class="mx-auto my-4" style='width:10%'>
        <input type="submit" class="btn btn-success" style="background-color: #c76fd5;border-color:#c76fd5" value="Ingresar producto">
          </div>
        <div > ¿Quiere ver Información de Laboratorios? </div> 
        <div ><a href="{% url 'mostrar-lab' %}" class='btn btn-primary' style="background-color: #c76fd5;border-color:#c76fd5" role="button">Ir a información de los laboratorios --></a>
        </div> 
        </form>

{% endblock body %} 